//font weights
$bold: 700;
$semibold: 600;
$medium: 500;
$light: 400;

//responsive width
$breakTablet: 767px;

//colors
$gray: #d2d2d2;
$lightGray: #c8c8c8;
$contentBox: #e3e3e3;
$white: #fff;
$black: #000;
$red : #AE3035;